<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="FATAL">
	<Properties>
		<Property name="logPath">D:\temp\Logs\com\dekhan\swagata\util\file</Property>
	</Properties>

	<Appenders>
		<Console name="LogToConsole" target="SYSTEM_OUT">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %C:%L:[%t] - %m%n</Pattern>
			</PatternLayout>
		</Console>
		<RollingFile name="LogToDailyRollingFile"
			fileName="${logPath}\FileFinder.log"
			filePattern="${logPath}\FileFinder-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
		</RollingFile>
	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="LogToDailyRollingFile" />
			<AppenderRef ref="LogToConsole" />
		</Root>
	</Loggers>
</Configuration>